.boton-check-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 0px;
}
.texts{
    display: flex;
    width: 60%;
}
.texts h3{
    margin: 5px 0px;
}

.texts p{
   margin: 0;
}
.buttons button{
    margin-left: 20px;
    background-color: aqua;
}

/* pretty radio */
input[type="radio"] {
  display: none;
}
label::before {
  content: "";
  display: flex;
  align-items: center;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
input[type="radio"]:checked + label {
  color: aqua;
}
input[type="radio"]:checked + label::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: aqua;
}

/* basic layout */
fieldset {
  margin: 20px;
  max-width: 400px;
}
input[type="radio"] + * {
  display: inline-block;
  padding: 0.5rem 1rem;
}