.header-button {
    background-color: aqua;
    color: black;
    font-weight: 800;
    border-radius: 4px;
    margin-left: 5px;
    height: 100%;
}

.app-title {

    color: black;
    font-weight: 600;
    font-size: 18px;
}

.input {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.input-box{
    height: 40px;
    display: flex;
    margin-bottom: 20px;
}